input {
 file {
    path => "/Users/liuteamyi/work2/esegg/sim.csv"
    start_position => "beginning"
    sincedb_path => "/dev/null"
 }
}
filter {
  csv {
  autodetect_column_names => true

    separator => ","
   
    
    columns => [
      "id","title","original_air_date","production_code","season","number_in_season","number_in_series","us_viewers_in_millions","views","imdb_rating","imdb_votes","image_url","video_url"
    ]
  }

    mutate { 
      convert => {
        "id" => "integer"
        "season" => "integer"
        "number_in_season" => "integer"
        "number_in_series" => "integer"
        "us_viewers_in_millions" => "float"
        "views" => "integer"
        "imdb_rating" => "float"
        "imdb_votes" => "integer"
      }
    
  } 
 


  date {
        match => ["original_air_date" , "yyyy-MM-dd"]
        }
 
}
output {
  elasticsearch {
      hosts => "localhost"
      index => "simpsonlog"
      document_type => "simpson_doc"
   }
  stdout {
     
  }
}